@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-primary text-gray-300;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@layer components {
  .nav-link {
    @apply cursor-pointer hover:text-secondary transition-colors duration-300;
  }

  .btn-primary {
    @apply px-6 py-3 border border-secondary text-secondary rounded hover:bg-secondary 
           hover:bg-opacity-10 transition-all duration-300;
  }

  .section-title {
    @apply text-4xl font-bold text-center mb-8 text-white;
  }
}
